.login-container {
  height: 80vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button,
.login-button:hover,
.login-button:active {
  background-color: #5c0282 !important;
  border: none;
}
