.search-rent-sale {
  margin: 100px 0 10px 0;
}

.carousel-property-card {
  position: relative;
}

.carousel-controls {
  padding: 0 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel-controls button {
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  color: #212529 !important;
  margin-top: 10px;
  border: 1px solid #5c0282;
  z-index: 10000;
  opacity: 1 !important;
}

.disabled {
  border: 1px solid #fff !important ;
}
