#property--box-container {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  display: none;
}

#property--box-container.loaded {
  display: block;
}

.property--box-color {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.commercial-h4-text {
  color: #ec946c;
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 20px;
  letter-spacing: 3px;
  padding-top: 70px !important;
}
.commercial-h1-text {
  color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-size: 25px !important;
}

.property-input-box {
  padding-top: 30px !important;
  min-height: 400px !important;
}

.property-input-box .custom-select {
  background-color: #d8dadb !important;

  opacity: 0.5;
}
.property-input-box select:focus option {
  background-color: #fff !important; /* Set white background color */
  color: #495057; /* Set text color */
}

.property-input-box-background {
  background-color: rgba(28, 49, 78, 0.6) !important;

  background-color: transparent;
  padding: 28px 42px 44px 42px;
  width: 100% !important;
  height: 100% !important;
}

.property-search-label {
  color: #ec946c;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 7px;
}

.property-active-tab {
  color: rgba(28, 49, 78, 1);
}

.property-tab {
  color: #d8dadb;
}
.property-tab:hover {
  color: #d8dadb;
}

.custom-select {
  background-color: #d8dadb;
}
.custom-select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.property-btn {
  margin-top: 20px;
  background-color: transparent !important;
  color: #d8dadb;
  border: solid 1px #d8dadb !important;
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.property-range {
  margin-top: 10px !important;
}

@media (max-width: 1024px) {
  #property--box-container {
    width: 100%;
    height: 100%;
    min-height: 700px;
  }
}

@media (min-width: 768px) {
  .commercial-h1-text {
    font-size: 30px !important;
    line-height: 30px;
  }
  .commercial-h4-text {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .commercial-h1-text {
    font-size: 46px !important;
    line-height: 50px;
  }
  .property-input-box {
    min-height: 490px !important;
  }
  .property-btn {
    margin-top: 40px;
  }
}

@media (min-width: 1399px) {
  .property-input-box {
    min-height: 523px !important;
  }
}
